.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.full-width {
    width: 100%;
}

#buttonAndProgressSpinner > button {
    float: left;
}

#buttonAndProgressSpinner > mat-progress-spinner {
    float: left;
    margin-left: 10px;
}